@using Microsoft.AspNetCore.Identity
@using Hospital.Areas.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">User</a>
            <ul class="dropdown-menu">
                <li class="nav-item">
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="User Profile">Hello @User.Identity?.Name!</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" title="Logout">Hello @User.Identity?.Name!</a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form id="logout-form" asp-area="Identity" asp-page="/Account/Logout" method="post" asp-route-returnUrl="@Url.Page("/", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0 " onclick="submitLogoutForm()">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
