.auth-section{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-content:center;
}

.auth-content{
    

}

.tab-container{
    display:flex;
    justify-content:center;
    align-content:center;
}

.nav-link.auth-tab{
    color:black !important;
}

.auth-column-container{
    width:50%;
    max-width:100%;
}

.auth-card{
    width:70%;
}

.nav-link.active{
}

.register-name-container {
    display: flex;
    flex-direction:row;
    gap:5px;

}