@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Dashboard/dashboard.css" asp-append-version="true" />


<div class="text-center">
    <h1 class="display-4">Central Hospital</h1>
</div>
<div id="dashboard-cards" class="card-container">
    <div class="dashboard-row">
        <div class="d-card">
            <img src="Resources/table.png" class="dashboard-card" />
            <div class="card-info">
                <h4>OPD</h4>
            </div>
        </div>
        <div class="d-card">
            <img src="Resources/table.png" class="dashboard-card" />
            <div class="card-info">
                <h4>Lab</h4>
            </div>
        </div>
        <div class="d-card">
            <img src="Resources/table.png" class="dashboard-card" />
            <div class="card-info">
                <h4>Labour</h4>
            </div>
        </div>
      
    </div>
    <div class="dashboard-row">
        <div class="d-card">
            <img src="Resources/table.png" class="dashboard-card" />
            <div class="card-info">
                <h4>Registration</h4>
            </div>
        </div>
        <div class="d-card">
            <img src="Resources/table.png" class="dashboard-card" />
            <div class="card-info">
                <h4>Admin</h4>
            </div>
        </div>
    </div>
    </div>
