@model Hospital.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Admin Page";
}

<link rel="stylesheet" href="~/css/Admin/Admin.css" asp-append-version="true" />


<html>
<body>
    <div class="admin-header">
        <h3>Admin</h3>
    </div>
    <div class="admin-container">
        <div class="section-container">
            <div class="admin-column">
                <div class="section"><a asp-controller="User" asp-action="Index" class="admin-button">Users</a></div>
                <div class="section"><a asp-controller="Staff" asp-action="Index" class="admin-button">Staff</a></div>
            </div>
            <div class="admin-column">
                <div class="section"><a asp-controller="Pharmacy" asp-action="Index" class="admin-button">Pharmacy</a></div>
                <div class="section"><a asp-controller="Lab" asp-action="Index" class="admin-button">Lab</a></div>
            </div>
            <div class="admin-column">
                <div class="section"><a asp-controller="Settings" asp-action="Index" class="admin-button">Settings</a></div>
                <div class="section"><a asp-controller="Reports" asp-action="Index" class="admin-button">Reports</a></div>
            </div>
        </div>
        <div class="section-container">
        </div>

    </div>
</body>
</html>
